<h1>New</h1>
<p></p>
<ul class="list-group list-group-horizontal">
  <% @letters.each do |letter|%>
    <li class="list-group-item"><%= letter.capitalize %></li>
  <% end %>
</ul>
<p></p>

<form action="score" method="post" data-turbo="false">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <label for="word">What is your best word?</label>
  <input id="word" type="text" name="word">
  <%= hidden_field_tag 'grid', @letters.join %>
  <input type="submit" value="play">
</form>
